
p1{
    font-size: 60px;
    font-weight: 900;
    display: block;
    text-align: center;
    margin-top: 30px;
}

p2{
    font-size: 20px;
    display: block;
    text-align: center;
}

p3{
    font-size: 15px;
    font-style: italic;
    display: block;
    text-align: right;
    margin-right: 10%;
}

p1, p2, p3{
    min-width: 500px;

}

.h-input{
    font-size: 15px;
}

.cad{
    display: flex;
    margin: auto;
    flex-flow: wrap;
    max-width: 500px;
}

.cad>div{
    padding: 0% 2% 0% 2%;
}

.nome, .email{
    width: 500px;
}

.cpf, .cep, .complemento{
    width: 120px;
}

.bairro, .cidade{
    width: 150px;
}

.rua, .senha, .confirm-senha{
    width: 250px;
}
.idade, .numero{
    width: 60px;
}

footer{
    padding: 5%;
    text-align: center;
}

footer>a{
    text-decoration: none;
    color: black;
}
