
p1{
    font-size: 60px;
    font-weight: 900;
    display: block;
    text-align: center;
    margin-top: 30px;
}

p2{
    font-size: 20px;
    display: block;
    text-align: center;
}

p3{
    font-size: 15px;
    font-style: italic;
    display: block;
    text-align: right;
    margin-right: 10%;
}

p1, p2, p3{
    min-width: 200px;
    max-width: 500px;
    margin: auto;

}

.h-input{
    font-size: 15px;
}

.cad{
    display: flex;
    margin: auto;
    flex-flow: wrap;
    max-width: 500px;
    align-items: center;
}

.cad>div{
    padding: 0% 2% 0% 2%;
}

.nome, .email{
    width: 230px;
}

.cpf{
    width: 130px;
}

.cep{
    width: 100px;
}

.complemento{
    width: 120px;
}

.bairro{
    width: 230px;
} 
.cidade{
    width: 230px;
}

.rua{
    width: 230px;
} 

.senha, .confirm-senha{
    width: 230px;
}
.idade, .numero{
    width: 60px;
}

.submit{
    margin: auto;
}

footer{
    padding: 5%;
    text-align: center;
}

footer>a{
    text-decoration: none;
    color: black;
}
